<div class=" row">
  <div class=" col-md-2">

  </div>
  <div class=" col-md-8">
    <div class=" card">
      <div class=" card-header">
        <h5 class=" title">MANUFACTURE DEPARTMENT</h5>
      </div>
      <div class=" card-body">
        <form>
          <div class=" row">
            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">
                <label> Company </label>
                <input class=" form-control" placeholder="Company" type="text" value="" />
              </div>
            </div>
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> Private Key </label>
                <input class=" form-control" placeholder="private key" type="text" value="" />
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label for="exampleInputEmail1"> Email address </label>
                <input class=" form-control" placeholder="abc@email.com" type="email" />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label>Product Name </label>
                <input class=" form-control" placeholder="Product Name " type="text" value="" />
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label>Product Id </label>
                <input class=" form-control" placeholder="Product Id" type="number" value="" />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Location </label>
                <input class=" form-control" placeholder="Location" type="text" value="" />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> City </label>
                <input class=" form-control" placeholder="City" type="text" value="" />
              </div>
            </div>
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">
                <label> Country </label>
                <input class=" form-control" placeholder="Country" type="text" value="" />
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label> Postal Code </label>
                <input class=" form-control" placeholder="ZIP Code" type="number" />
              </div>
            </div>
          </div>
          <div class=" row">

          </div>
        </form>
        <div class=" row">
          <div class=" col-md-12">
            <div class=" form-group">
              <label> DATE </label>
              <input class=" form-control" placeholder="date" type="date" value="" />
            </div>
          </div>
        </div>
      </div>
      <div class=" card-footer">
        <button class=" btn btn-fill btn-danger" type="submit">Save</button>
      </div>
    </div>
  </div>
</div>