<nav class="navbar navbar-expand-md  fixed-top ">
    <a class="navbar-brand" href="#">PRODUCT TRACKING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="manufacture">MANUFACTURE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="customs">CUSTMS DEPARTMENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="wholesailer">WHOLESAIL DELEAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reatailer">REATAILER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="customer">USER</a>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>