.image{
  height:60em; background-size:cover; width:auto;
  background-image:url('./images/aa.jpg');
  background-position:50% 50%;
}
.container {
  color:white;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;     
  padding-top: 180px;     
 } 