<div class=" row">
        <div class=" col-md-2">
      
        </div>
        <div class=" col-md-8">
          <div class=" card">
            <div class=" card-header">
              <h5 class=" title">USER </h5>
            </div>
            <div class=" card-body">
              <form>
                    <form>
                            <div class=" row">
                              <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                  <label>Product Name </label>
                                  <input
                                    class=" form-control"
                                    placeholder="Product Name "
                                    type="text"
                                    value=""
                                  />
                                </div>
                              </div>
                              <div class=" col-md-6 pl-md-1">
                                <div class=" form-group">
                                  <label>Product Id </label>
                                  <input
                                    class=" form-control"
                                    placeholder="Product Id"
                                    type="number"
                                    value=""
                                  />
                                </div>
                              </div>
                            </div>
                          </form>
              </form>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit">VIEW</button>
            </div>
          </div>
        </div>
      </div>

